<div id="homecare">
    <h1>An Evolution In Senior Home Care</h1>

<p>

    According to Health and Human Services, 70% of Americans will need some type of home care in their lifetime. That is nearly three out of four of us.<br><br>

Many American seniors are under the impression that traditional health care programs will provide the desired services in the home such as meal preparation, assistance with hygiene, dressing & grooming, etc. Medicare, Medigap and most Medicare Advantage Plans are designed to cover hospital stays, doctor bills and some short term skilled nursing. Unfortunately, they may not cover the cost of everyday assistance in your own home.<br><br>

While your loved ones will have the best intentions to be there for you when a crisis arises, many are not prepared and quickly become overwhelmed by the amount of work involved in care giving. Traditional home health care insurance is an option for such services, however it is limited to only the extremely healthy, creating challenges for many.  <br><br>

A Home Care plan that provides freedon and are a viable alternative to traditional home health care insurance that isnt available in some states.  Our plans support   seniors with their regular activities while providing them with independence and privacy in the comfort of their own home.  They are unique:  No underwriting, No claim forms, No deductible, No co-pays, and No age limits.  No other plan on the market can make that statement.
</p>
</div>