<div id="communitycare">

    <h1>What is Community care?</h1>

    <p>Community Care goes hand in hand with Home Health Care. Whereas Home Health Care is designed to be provided in the home, Community Care is provided in community resources - outside the home - on a temporary basis with the understanding that the individual requiring care will continue to reside in his or her own home. Additionally, Community Care allows those receiving care to live at home longer by providing a break for the primary caregiver.<br><br>

        <b>Adult Day Care</b> facilities are equipped to handle adults who need care due to a loss of cognitive ability or loss of ability to perform activities of daily living. Activities of Daily Living are the normal functions one must perform to be able to make it through the day. These include bathing, continence, dressing, eating, toileting, and transferring (moving from a bed to a chair, for instance). Some states require that the definition of the transferring Activity of Daily Living include mobility or the ability to move with or without the use of an assistive device like a cane or walker.<br>
        <b>Respite Care</b> is short-term care designed to provide temporary relief for a primary caregiver who cares for the insured in the home. Many times, Respite Care is provided in a nursing home or assisted living facility that accepts respite care patients.</p>

</div>