<div id="facilities">

    <h1>How Do Facilities Figure into the Equation?</h1>

    <p>When care at home or in the community is no longer an option, Assisted Living Facilities and Nursing Facilities may be considered.<br><br>

        <b>Assisted Living Facilities</b> provide apartment or condominium-like settings and 24-hour assistance for those who can, for the most part, live on their own but who also need assistance with personal and custodial needs. Assisted Living Facilities are fast becoming the top choice for long-term care because they provide a combination of independent living and ready care services. In essence, they allow people to remain as independent as their infirmities or illnesses will permit.
        <br><br>

        <b>Nursing Facilities</b> provide daily, 24-hour skilled, intermediate and custodial care. Nursing Facilities provide the highest level of long-term care that you can receive. The level of care one needs at this point is greater than what can be provided at home, in the community or in an Assisted Living Facility.</p>

</div>