<div id="homehealth">

    <h1>What is Home Health Care?</h1>

    <p>Simply put, Home Health Care is exactly what the name implies - long-term care services provided in your home. More specifically, Home Health Care is care administered in the home by family members or friends with assistance from professional caregivers. For example, a husband taking care of his wife would be considered the primary caregiver and Home Health Care would include any professional and informal caregivers that assist in the home.<br><br>

        Home Health Care Providers offer two types of services:<br><br>
        
        <b>Skilled or Professional Caregivers</b> Caregivers include Registered Nurses and Physical, Occupational and Speech Therapists. These are licensed and trained individuals who come into the insured's home and provide a specific service. Once they have completed their task, they leave. Usually their stay will not be much longer than an hour.<br><br>
        <b>Custodial or Informal Caregivers</b> include Home Health Aides, Personal Care Attendants and Certified Nursing Assistants. Their help would consist of services like preparing meals, light housecleaning, doing laundry and assisting with baths and personal hygiene. They generally spend 4 to 8 hours daily with the patient. These services may also be provided by family members or friends.  </p>

</div>