<div id="ltcinsurance">

    <h1>WHAT IS LONG-TERM CARE INSURANCE</h1>

    <p>Long-Term Care Insurance provides funds to help you cover long-term care costs in the same manner Health Insurance provides financial coverage for doctor's visits and hospital bills. However, it is very important to understand that Long-Term Care Insurance and Health Insurance are two distinctly different types of insurance. Health Insurance would likely provide coverage for doctor visits, hospitalization, and maybe even some prescription medicines. But if the individual's condition progresses to the point where he or she requires long-term care or constant supervision, Health Insurance would likely not provide coverage for that supervision.<br><br>

        Health insurance was not designed to cover the long-term care expenses for those who may have suffered permanent paralysis from an accident or stroke, developed Alzheimer's, or perhaps need care as a natural result of aging.<br><br>
        
        This is where Long-Term Care Insurance comes in. Long-Term Care Insurance has been designed to pick up and provide coverage where Health Insurance leaves off. So in the case where the individual's condition has progressed to the point where he or she requires constant supervision or assistance carrying out basic activities of daily living (like bathing, eating, toileting, dressing and moving about), Long-Term Care Insurance would provide funds to help cover the insured's long-term care expenses.<br><br>
        
        Those who have purchased Long-Term Care Insurance share that it has also helped them maintain their independence and freedom of choice over how and where their care services are provided. Long-Term Care Insurance can allow you to protect your assets and help ensure that your long-term care needs will not create a physical or financial burden on your family. </p>

</div>