<div id="ltcservice">

    <h1>How are Long-Term care services Provided?</h1>

    <p>To understand how long-term care services are provided, it is first important to understand the overall concept of Long-Term Care. Many people think of Long-Term Care only in terms of being confined in a nursing home due to a complete incapacity. And while Long-Term Care does include and provide for this possibility, the complete picture is that Long-Term Care encompasses a variety of services which are generally divided into four categories:<br><br>

        <ol>
            <li>Home Health Care</li>
            <li>Community Care</li>
            <li>Assisted Living Facilities</li>
            <li>Nursing Homes</li>


        </ol>
          </p>

</div>