<div id="ltcContain">

    <h1>What is Long Term Care?</h1>

    <p>Long-Term Care services are those services designed to assist someone who has lost some or all of the ability to care for himself or herself due to an accident, injury, illness, or simply the declining ability due to aging.<br><br>

        Long-term care includes a wide range of services which help people maintain the normal activities of daily living; activities like bathing, continence, dressing, eating, toileting and transferring (like moving from a bed to a chair or from a chair to standing, etc.). Long-term care services can be provided in your home, in and through community resources or in a formal setting such as a nursing home or assisted living facility.  The great news is that with a plan in place you get to decide what kind of care receive and where you want to receive it.  </p>

</div>