<div id="aboutmedicare">

    <h1>What about Medicare?</h1><br>

    Medicare is a national health insurance program for people 65 years of age and older, certain younger disabled people and people with permanent kidney failure. Like your regular health insurance, it is not intended to provide long- term custodial care!<br><br>

        Won't Medicare cover my long-term care needs?<br><br>
        
        The following criteria must be met in order for Medicare to pay for any of your long-term care bills.<br><br>
        
        <ul>
            <li>You must have a hospital stay of <b>three consecutive days</b> (not counting the day of discharge)</li>
            <li>You must be admitted to a nursing facility for the same illness you were hospitalized for within <b>30 days of discharge</b></li>
            <li>Medicare covers only skilled care or rehabilitative care given in a certified skilled nursing facility or in your home. Custodial Care is not covered when that is the only kind of care you need.</li>
            <li>You must be certified by a medical professional that you need skilled nursing or rehabilitative services daily</li>
        </ul>
        <br><br>
        
        
        
        <b>Medicare Skilled Nursing Facility Stay Benefit: In 2021 You Pay:</b><br><br>

        <ul>
            <li>$0 for the first 20 days each benefit period</li>
            <li>$185.50 per day for days 21 - 100 each benefit period</li>
            <li>All costs for each day after day 100 in a benefit period</li>
        </ul>
        <br><br>
        
        <b>Medicare Home Health Care Benefit: In 2021 You Pay:</b><br><br>

        <ul>
            <li>$0 for covered home health care services</li>
            <li>20% of the Medicare-approved amount for durable medical equipment</li>
        </ul>
        <br><br>
        
        
        <b>How Do You Qualify for Medicare Home Health Care Benefits?</b><br><br>
        
        Limited home care benefits are covered under Medicare Part B. These benefits are limited to medically-necessary part-time or intermittent skilled nursing care, and/or physical therapy, speech-language pathology, and/or services for people with a continuing need for occupational therapy. A doctor enrolled in Medicare, or certain health care providers who work with the doctor, must see you face-to-face before the doctor can certify that you need home health services. The doctor must order your care and a Medicare-certified home health agency must provide it.<br><br>
        
        Home health services may also include medical social services, part-time or intermittent home health aide services, durable medical equipment, and medical supplies for use at home. You must be homebound, which means that leaving home is a major effort.<br><br>
        
        <b>Types of Care Received</b><br><br>
        
        The reason it is so difficult to get Medicare to cover any of your LTC stay is that most people do not receive skilled care on a prolonged basis. The majority of people are receiving custodial care, which is assistance with their activities of daily living.   </p>

</div>