<div id="myfamily">

    <h1>What about my Family?</h1>

    <p>It will never happen to me!<br><br>

        Long-term care planning is not about determining if it will or will not happen to you. Let's look at that statement again - long-term care planning is not about determining if it will or will not happen to you. Long-term care planning is about finding the answer to one very important question: if I am faced with a need for long-term care services, will I be emotionally and financially prepared to handle it? That is the goal of long-term care planning.<br><br>
        
        My family will take care of me.<br><br>
        
        Too often, people expect more of their family than the family may be able to deliver. There are several questions you need to thoroughly examine to determine if relying upon family for long-term care services is a viable option for you.<br><br>
        
        <ul>
            <li>Does your family live close enough geographically to assist with your care? </li>
            <li>Will your family be able to take time away from work to carry out the duties of a caregiver?</li>
            <li>Will your family member be physically capable of meeting your care needs at every point in the future?</li>
            <li>What will you do if a family member pre-deceases you?</li>
            <li>What if your family member should need care before you do; who will take his or her place and provide care for you?</li>
        </ul> <br><br>
        
        
        
        One of the reasons many people purchase long-term care insurance is because family members want to participate in the caregiving process. Long-term care insurance allows family members to assist at a level which they are physically, or financially, capable without placing any undue strain on the family member and without compromising the needs of the person requiring care.</p>

</div>