<div id="riskfactor">

    <h1>Considering The Risk </h1><br>

    <p>True or False - Long-Term Care Insurance is something that only older people should consider.<br><br>

        The answer is unequivocally <b>False.</b><br><br>
        
        A frequent misconception is that long-term care insurance is only for the elderly or infirm. In reality, over 76% of people receiving care today are under age 65.<br><br>

        <img src="/img/riskfactors.png" alt="">
        
        
        
        It's not hard to imagine why such is the case: automobile and recreational accidents (skiing, horseback riding etc.) or illnesses such as multiple sclerosis, stroke or heart attack. We all know of or can think of younger people who have had accidents which caused paralysis or someone who has a disease, such as Parkinson's.<br><br>
        
        And so, with so many working-age adults requiring long-term care services, it is easy to see that Long-Term Care Insurance is a product that everyone, regardless of age, needs to carefully considered as an addition to his or her risk management planning.<br><br>
        
        Long-term care services are only covered by Long-Term Care Insurance. It seems simple enough, but it's true - and it bears repeating... long-term care services are only covered by Long-Term Care Insurance.<br><br>
        
        Some people believe their Disability Income Insurance provides coverage if long-term care services are needed. However, Disability Income Insurance is normally designed to provide income so you can continue to meet your everyday bills and financial needs; it is usually not sufficient to pay also for long-term care services.<br><br>
        
        If you are not financially prepared for a long-term care need, your care options may be limited. Perhaps family members can help? Certainly family will want to help, but many family members today are either not geographically close enough to participate or are not in an economic position to assist financially. So, what do you do? Another option may be Medicaid.</p>

</div>